[Desktop Entry]
Type=Application
Name=Dhammapada
Comment=A multilingual Dhammapada reader
Comment[af]=’n Meertalige Dhammapada-leser
Comment[ar]=قارئ الدامابادا متعدد اللغات
Comment[az]=Çoxdilli Dhammapada oxucusu
Comment[bg]=Многоезичен четец на Джамапада
Comment[bn]=একটি বহুভাষিক ধম্মপদ পাঠক
Comment[ca]=Un lector multilingüe del Dhammapada
Comment[cs]=Multilingvální čtečka Dhammapady
Comment[da]=En flersproget Dhammapada-læser
Comment[de]=Ein mehrsprachiger Dhammapada-Reader
Comment[el]=Ένας πολύγλωσσος αναγνώστης Dhammapada
Comment[es]=Un lector multilingüe del Dhammapada
Comment[et]=Mitmekeelne Dhammapada lugeja
Comment[fi]=Monikielinen Dhammapada-lukija
Comment[fr]=Un lecteur multilingue du Dhammapada
Comment[he]=קורא דהאמאפאדה רב-לשוני
Comment[hi]=बहुभाषी धम्मपद रीडर
Comment[hu]=Többnyelvű Dhammapada-olvasó
Comment[id]=Pembaca Dhammapada multibahasa
Comment[it]=Un lettore multilingue del Dhammapada
Comment[ja]=多言語ダンマパダ・リーダー
Comment[jv]=Pamaos Dhammapada mawi basa manéka warni
Comment[kk]=Көптілді Дхаммапада оқырман
Comment[km]=កម្មវិធីអានគម្ពីរធម្មបទពហុភាសា
Comment[ko]=다국어 담마파다 리더
Comment[ku]=خوێنەرێکی فره‌زمانیی دەمماپادا
Comment[lo]=ຜູ້ອ່ານທັມມະປົດຫຼາຍພາສາ
Comment[lt]=Daugiakalbė Dhammapados skaityklė
Comment[ml]=ഒരു ബഹുഭാഷാ ധർമ്മപദ വായനക്കാരൻ
Comment[mr]=बहुभाषिक धम्मपद वाचक
Comment[ms]=Seorang pembaca Dhammapada berbilang bahasa
Comment[my]=ဘာသာစကားစုံ ဓမ္မပဒဖတ်ရှုကိရိယာ
Comment[nb]=En flerspråklig Dhammapada-leser
Comment[ne]=बहुभाषिक धम्मपद पाठक
Comment[nl]=Een meertalige Dhammapada-lezer
Comment[pa]=ਇੱਕ ਬਹੁ-ਭਾਸ਼ਾਈ ਧੰਮਪਦ ਪਾਠਕ
Comment[pi]=Bahubhasiko Dhammapada-paṭhako
Comment[pl]=Wielojęzyczny czytnik Dhammapady
Comment[pt]=Um leitor multilíngue do Dhammapada
Comment[ro]=Un cititor multilingv al Dhammapadei
Comment[ru]=Многоязычная читалка Дхаммапады
Comment[si]=බහුවිධ භාෂා ධම්මපද කියවනය
Comment[sl]=Večjezični bralnik Dhammapade
Comment[sq]=Lexues i Dhammapadës në shumë gjuhë
Comment[sr]=Višejezični čitač Dhammapade
Comment[sv]=En flerspråkig Dhammapada-läsare
Comment[ta]=ஒரு பன்மொழி தம்மபதம் வாசகர்
Comment[te]=బహుభాషా ధమ్మపద పాఠకుడు
Comment[th]=โปรแกรมอ่านธรรมบทหลายภาษา
Comment[tr]=Çok dilli bir Dhammapada okuyucusu
Comment[uk]=Багатомовна читалка Дхаммапади
Comment[vi]=Trình đọc Kinh Pháp Cú đa ngôn ngữ
Comment[zh]=多语言法句经阅读器
Exec=dhammapada
Icon=dhammapada
Categories=Education;
StartupWMClass=dhammapada